body {
  background-color: black;
}

.deckcontainer {
  margin: 2px;
  overflow: hidden;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  background-color: darkgrey;
  filter: brightness(1);
}

.selecteddeck {
  filter: brightness(0.5);
}

.searchbox {
  width: 404px;
  height: 644px;
  border: 0.25px solid white;
  border-radius: 8px;
  margin-right: 4px;
  opacity: 50%;
}

.searchclosebox {
  display: flex;
  justify-content: right;
  width: 420px;
}

.searchclose {
  margin-top: 280px;
  width: 16px;
  height: 80px;
  background-color: white;
  opacity: 50%;
}

.searchclose:hover {

  opacity: 80%;
}

.searchrow {
  filter: invert(0%);
  background-color: black;
}

.searchrow:hover {
  filter: invert(100%);
  cursor: pointer;
}

