body {
  background-color: black;
}

.deckcontainer {
  margin: 2px;
  overflow: hidden;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  background-color: darkgrey;
}

.searchrow {
  filter: invert(0%);
  background-color: black;
}

.searchrow:hover {
  filter: invert(100%);
  cursor: pointer;
}
