*:focus {
  outline: none;
  box-shadow: none;
}

.panels {
  background: rgb(52, 47, 40);
  /* background: linear-gradient(
    20deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(32, 16, 7) 37%,
    rgb(97, 51, 25) 62%,
    rgba(0, 0, 0, 1) 94%
  ); */
  filter: grayscale(20%);
  filter: brightness(1);
}

.mixeron {
  filter: brightness(1.5);
}

/* .shadow {
  box-shadow: 6px 3px 5px 5px rgba(0, 0, 0, 0.82),
    -4px -3px 5px 3px rgba(255, 255, 255, 0.32);
} */

.cue {
  background-color: black;
  opacity: 80%;
  color: white;
  border: 0px solid white;
}

.cuehighlight {
  background-color: rgb(62, 21, 9);
}

.cue:hover {
  filter: invert(100%);
}

.playback {
  filter: invert(100%);
  height: 40px;
  width: 32px;
  background-color: white;
  padding: 4px;

  padding-top: 16px;
  padding-bottom: -4px;
  font-weight: 800;
}

.playbackselected {
  background-color: powderblue;
}

.playback:hover {
  filter: invert(0%);
  cursor: pointer;
}

.matchtrack {
  width: 248px;
  height: 248px;
  border-radius: 50%;
  margin-left: 76px;
  margin-top: -48px;
  background-color: transparent;
  filter: invert(100%);
}

.matchtrack1 {
  animation: spin 2s infinite linear;
}
.matchtrack2 {
  animation: spin 4s infinite linear;
}
.matchtrack3 {
  animation: spin 8s infinite linear;
}
.matchtrack4 {
  animation: spin 16s infinite linear;
}
.matchtrack5 {
  animation: spin 32s infinite linear;
}

.matchtrackmatch {
  animation: spin 64s infinite linear;
}

.matchtrackoff {
  animation: unset;
  opacity: 80%;
}

.matchtrack:hover {
  /* background-color: white; */
  border-width: 4px;
  /* filter: invert(0%); */
  opacity: 100%;
  cursor: grab;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.trackloadon {
  background-color: black;
  opacity: 0%;
}

h1 {
  font-weight: 100;
}

.slider {
  filter: brightness(100%);
  filter: invert(100%);
}

.slider:hover {
  filter: invert(0%);
  opacity: 80%;
}

.playbutton {
  width: 56px;
  height: 24px;
  position: absolute;
  z-index: 16;
  margin-left: 316px;
  margin-top: -220px;
  border-radius: 4px;
  background-color: black;
  opacity: 80%;
}

.playbutton:hover {
  background-color: white;
  cursor: pointer;
}

.playindon {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 100%;
  margin-left: 36px;
  margin-top: 8px;
  box-shadow: 0px 0px 16px 4px yellow;
}

.playindoff {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 100%;
  margin-left: 36px;
  margin-top: 8px;
  opacity: 50%;
  /* box-shadow: 0px 0px 16px 4px yellow; */
}

/* .mediaplayer {
  margin-left: -120px;
  margin-bottom: 40px;
  clip-path: circle(120px at center);
  opacity: 20%;
}

.playeron {
  opacity: 100%;
} */
